.container{background-color: rgba(183, 221, 243, 0.555);
height: 80px;
width: 30cm;

}


.box{
    background-color:blanchedalmond;
    height: 1,5cm;
    width: 15cm;
      
    
}

.menu{background-color :blanchedalmond;
height: 1,5cm;
width: 10cm;

}

.rodape{position: bottom;}
